body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
  
}
header, .footer-pie {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #4070f4;
}


.headhover:hover {
  border-radius: 40px;
  cursor: pointer;

}


header {
  height: 90px;
  width: 100%;
  margin-bottom: 90px; 
  background-color: #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logos {
  height: 90px;
  width: 98%;
  margin: auto;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  border-bottom: 1px groove #ececec;
  background-color: #4070f4;
}

.logo>img{
  width:130px;
  height:32px;
}
.icono1{
  height:45px;
  width:160px;
  display:flex;
  align-items: center;
  justify-items: center;
  gap:7px;
}
.icono2{
  height:45px;
  width:160px;
  display:flex;
  align-items: center;
  justify-items: center;
  gap:7px;
}
.headsearch{
  height:40px;
  width:650px;
  background-color:white;
  border-radius:40px;
  display:flex;
  align-items: center;
}

.inputsearch {
  height: 100%;
  width: 88%;
  padding-left: 25px;
}

input{
  height:100%;
  width:100%;
  border:none;
  outline:none;
  background:transparent;
}
.iconobusqueda{
  height:35px;
  width:35px; 
  background-color:#ffc220;
  border-radius:50%;
  margin-left:15px;
  display:flex;
  align-items: center;
  justify-content: center;
  color:#4444;
  cursor:pointer;
}
.iconobusqueda span{
  font-size: 1.2rem;

}
.icono3{
  height:45px;
  width:130px;
  display:flex;
  align-items: center;
  justify-content: center;
  gap:7px;
}

.sub {
  margin-right: 10px; 
}

.head_cart {
  margin-left: 10px; 
}


.icon3>span{
  font-size:1.1rem;
}
.arriba {
  font-size: 0.9rem;
  margin-bottom: 0; 
}

.abajo {
  font-size: 0.9rem;
}
.arriba1 {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.abajo1 {
  font-size: 0.9rem;
  margin-top: 0; 
}

.carrito{
  height:45px;
  width:70px;
  display:flex;
  align-items: center;
  justify-content: center;
  position:relative;
  color: #ffffff;
}
.carrito a {
  text-decoration: none; 
}
.iconocarrito>span{
  margin-top:-5px;
  font-size: 1.5rem;
  padding-left: 3px;
  margin-top: 10px
}
.precio{
  margin-top:-5px;
  font-size: 0.7rem;
  color: #ffffff;

}
.carrito_valor{
  height:12px;
  width:12px;
  background-color:#ffc220;
  border-radius:50%;
  display:flex;
  align-items: center;
  justify-content: center;
  position:absolute;
  left:50%;
  bottom:70%;
  font-size:0.6rem;
  color:#4444

}
.sub a {
  color: white; 
  text-decoration: none;}
.valor{
  color: #ffffff;
}

.espacio {
  height: 20px; 
}

.iconocarrito > span {
  color: #ffffff;
}


.header_bottom{
  height:40px;
  width:100%;
  background-color:#4070f4;
  color:white;
  font-size: 0.8rem;
  display:flex;
  align-items: center;
}
.icono-left{
  width:600px;
  height:35px ;
  display:flex;
  align-items: center;
  justify-content: center;
}
.icono4-left{
  height:32px;
  width:410px;
  display:flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}

.icono_mano span{
  height:16px;
  width:15px;
  font-size: 1.1rem;
  display:flex;
  align-items: center;
  justify-self: center;
  margin-top:2px;

}
.info p{
  width:180px;
  display:flex;
  align-items: center;
  justify-content: center;
}
.ubicacion span{
  height:16px;
  width:20px;
  font-size: 1rem;
  display:flex;
  align-items: center;
  justify-self: center;
  margin-top:2px;
  margin: 0; 
}
.espacio2 {
  height: 40px; 
}
.casa span{
  height:16px;
  width:30px;
  font-size: 1rem;
  display:flex;
  align-items: center;
  justify-self: center;
  margin-top:2px;
  margin-left:5px;
}


.etiquetas_right {
  height: 35px;
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-around; 
  gap: 20px;
}

.etiquetas_right a {
  color: white; 
  text-decoration: none; 
}

.subrayado:hover {
  text-decoration: underline;
  cursor: pointer;
}



.indices {
  margin: 5vmin;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5vmin;
  grid-auto-flow: dense;
  min-block-size: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.item {
  background-color: #4070f4;
  border-radius: 0.75em;
  color: #fff;
  padding: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 300ms;
  position: relative;
}


.item:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



.item img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  margin: 0;
  padding: 0;
  border-radius: 0.75em; 
}



.item:nth-child(2) {
  grid-row: auto / span 2;
}

.item:nth-child(5) {
  grid-column: span 2;
}

.item:nth-child(6) {
  grid-row: auto / span 2;
}

.item:hover { 
  transform: scale(1.00);
}

.item:active { 
  transform: scale(0.80);
}




.video {
  width: 100%;
  height: 100%;
  border-radius: 0.75em;
}

.video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contenido {
  position: relative;
  margin: 5vmin;
  max-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.subcontenido {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.subcontenido h1 {
  font-size: 100px;
  font-weight: 600;
  margin-bottom: 10px;
  transition: 0.5s;
}

.subcontenido a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
}

.bloques {
  position: relative;
}

.contenedor-imagen {
  position: relative;
  display: inline-block;
}

.contenedor-imagen img {
  display: block;
  max-width: 100%;
}

.boton {
  position: absolute;
  left: 25%;
  bottom: 50px;
  text-align: left;
  align-items: left;
  z-index: 1;
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s;
}

.boton:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.bloque-contenido {
  display: flex;
  gap: 1cm;
  margin: 5vmin;
  border-radius: 0.75em;
}

.bloque {
  height: 19cm;
  background-color: #4070f4; 
  color:#fff;
  border-radius: 0.75em;
}

.bloque-izquierdo {
  width: 20cm;
}

.bloque-derecho {
  flex: 1;
  
}

.bloque p {
  margin: 5vmin;
  font-family: Swiss, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 20px; 
  line-height: 1.5;
  color:#fff;
}

.bloque-derecho img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.75em;
}
.subletra p {
  font-weight: bold;
  margin-top: 10px;
  border-top: 1px solid #fff;
  padding-top: 10px;
}

.subletra p:hover {
  color: #ffe100;
}


.bloques-imagenes {
  height: 15cm; 
  margin: 5vmin;
  border-radius: 0.75em;
  display: flex;
  justify-content: space-between;
  
}

.bloques img {
  width: 100%;
  height: 100%; 
  border-radius: 0.75em;
  object-fit: cover;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 200ms;
}

.bloques img:hover {
  transform: translateY(-2px);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}



.bloques {
  width: 30%;
  padding: 0;
  border-radius: 0.75em;
  box-sizing: border-box;
}

.bloques-central {
  width: 30%;
}

.ubicacion {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}



  
footer {
  background-color: #4070f4; 
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 20px; 
}

.footer-items {
  text-align: left;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto;
  background-color: #4070f4;
}

.footer-items h3 {
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin: 20px 0 10px 0;
}

.footer-items ul {
  list-style: none;
  margin-bottom: 20px;
}

.footer-items li a {
  color: #ffffff;
  font-size: 0.875rem;
}

.footer-items li a:hover {
  text-decoration: underline;
}
